{
	"$schema": "https://json.schemastore.org/prettierrc",
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "lf",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore",
	"embeddedLanguageFormatting": "auto",
	"overrides": [
		{
			"files": ["*.json", "*.yml", "*.yaml"],
			"options": {
				"printWidth": 100,
				"tabWidth": 2
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"printWidth": 90,
				"proseWrap": "always"
			}
		},
		{
			"files": ["*.schema.ts"],
			"options": {
				"printWidth": 140,
				"trailingComma": "none"
			}
		}
	]
}
